.textbox{
    position: absolute;
    z-index: 1;
    display: flex;
    width: 98vw;
    justify-content: right;
    align-items: center;
    margin-top: 50vw;
}
.board-cont{
    display: block;
}
.board{
    background-color: black;
    width: 48vw;
    height: 18vh;
    position: absolute;
    margin-top: 22vh;
    margin-left: 16vw;
}